body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .navbar,
body.dark-mode .support-container,
body.dark-mode .block,
body.dark-mode .modal-content,
body.dark-mode .chat-message,
body.dark-mode .version-badge {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-color: #444;
}

body.dark-mode button,
body.dark-mode .sreda-button,
body.dark-mode .send-button,
body.dark-mode .close-button,
body.dark-mode .modal-content a {
    color: #e0e0e0;
    border-color: #444;
}

body.dark-mode .block img,
body.dark-mode .modal-title img {
    filter: brightness(0.8);
}

body.dark-mode .bubble {
    background-color: rgba(255, 0, 0, 0.3);
}