body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    overflow: hidden;
    position: relative;
    color: #FFFFFF;
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.5);
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.navbar {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 5vw;
    height: 5vw;
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
    transition: width 0.3s, transform 0.3s;
    box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
}

.navbar:hover {
    width: 30vw;
    transform: scale(1.1);
}

.support-container {
    display: none;
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    padding: 1vw;
    border-radius: 2.5vw;
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3), 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
    opacity: 0;
    transition: opacity 0.5s;
}

.navbar:hover .support-container {
    display: block;
    opacity: 1;
}

.custom-font {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    color: #FFD700;
    text-shadow: 1px 1px 2px #000;
}

.grid {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    pointer-events: none;
    z-index: 0;
    transition: transform 1s;
}

.bar {
    background-color: #FFFF00;
    box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
    }
    50% {
        box-shadow: 0 0 2vw #FFFF00, 0 0 3vw #FFFF00, 0 0 4vw #FFFF00;
    }
    100% {
        box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
    }
}

.horizontal {
    grid-column: span 11;
    height: 1vw;
}

.vertical {
    grid-row: span 11;
    width: 1vw;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100dvh;
}

#page1 {
    z-index: 2;
}

#page2 {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    opacity: 0.9;
    animation: gradientAnimation 5s infinite alternate;
    box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
}

.blurred {
    filter: blur(0.5vw);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

button {
    padding: 2vw 4vw;
    font-size: 2.4vw;
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2.5vw;
    transition: transform 0.5s, box-shadow 0.3s;
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
    z-index: 5;
    min-width: 4.4vw;
    min-height: 4.4vw;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(0, 0, 0, 0.4);
}

button:active {
    transform: scale(1.05);
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
}

.sreda-button {
    font-size: 9.6vw;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    border: 0.4vw solid black;
    padding: 1vw 2vw;
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    border-radius: 2.5vw;
    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.block-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 2vw;
    flex-wrap: wrap;
    z-index: 2;
    flex-direction: row;
    transition: transform 0.5s, opacity 0.5s;
}

.block-container.moved {
    transform: translateY(-70%) scale(0.6);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.block-container.moved .block {
    width: 15vw;
    padding: 1vw;
    margin: 1vw;
}

.block {
    text-align: center;
    margin: 2vw;
    cursor: pointer;
    background: linear-gradient(135deg, #FFFFFF, #87CEEB, #4682B4, #00008B, #FFA500);
    border-radius: 2.5vw;
    padding: 2vw;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 20vw;
    min-width: 20vw;
    box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
    color: #FF0000;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block img {
    max-width: 100%;
    height: auto;
    border-radius: 1.5vw;
}

.block:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1.5vw #FFFF00, 0 0 3vw #FFFF00, 0 0 4.5vw #FFFF00;
}

.block:active {
    transform: scale(1.05);
    box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
}

.block p {
    font-size: 1.2em;
    margin-top: 1vw;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.version-badge {
    background: white;
    color: black;
    border-radius: 50%;
    padding: 0.5vw 1vw;
    margin-top: 0.5vw;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: linear-gradient(135deg, #FF0000, #0000FF, #FFFF00);
    margin: 15dvh auto;
    padding: 2vw;
    border-radius: 1.5vw;
    width: 40vw;
    max-width: 40vw;
    box-shadow: 0 0 1vw #FFFF00, 0 0 2vw #FFFF00, 0 0 3vw #FFFF00;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.modal-title img {
    width: 100%;
    height: auto;
    border-radius: 1.5vw;
    margin-bottom: 2vw;
}

.modal-content p {
    font-size: 1.1em;
    margin: 2vw 0;
}

.modal-content a {
    display: inline-block;
    margin-top: 2vw;
    padding: 1vw 2vw;
    background: linear-gradient(135deg, #0000FF, #FF0000, #FFFF00);
    color: white;
    border: none;
    border-radius: 2.5vw;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
}

.modal-content a:hover {
    transform: scale(1.05);
    box-shadow: 0.6vw 0.6vw 1.2vw rgba(0, 0, 0, 0.4);
}

.modal-content a:active {
    transform: scale(1.02);
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 2.8vw;
    font-weight: bold;
    transition: color 0.3s;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s;
}

.background-text.visible {
    opacity: 1;
}

.background-text span {
    position: absolute;
    font-size: 2.4vw;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    transform: rotate(-10deg);
}

.version-container {
    position: absolute;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    padding: 1vw 2vw;
    border-radius: 2.5vw;
    box-shadow: 0.4vw 0.4vw 0.8vw rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.version {
    font-size: 2.4vw;
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    body {
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 100vh;
        overflow-y: auto;
    }

    .block-container {
        flex-direction: column;
        align-items: center;
    }

    .block {
        width: 90vw;
        padding: 3vw;
        margin: 1.5vw 0;
    }

    .modal-content {
        width: 90vw;
    }

    .support, .blog {
        font-size: 1.5vw;
    }

    .background-text span {
        font-size: 3vw;
    }

    .version {
        font-size: 3vw;
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .horizontal {
        grid-column: span 5;
    }

    .vertical {
        grid-row: span 5;
    }

    button {
        padding: 3vw;
        font-size: 3vw;
    }

    .sreda-button {
        font-size: 12vw;
    }

    .block img {
        width: 20vw;
        height: 20vw;
    }

    .chat-input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 2vw;
        position: absolute;
        bottom: 5vh;
    }

    #chat-input {
        flex: 1;
        padding: 1vw;
        border: 0.1vw solid #000000;
        border-radius: 0.3vw;
        margin-right: 1vw;
        background: rgba(0, 0, 0, 0.5);
        color: #00ffff;
        font-size: 2vw;
        text-shadow: none;
    }

    .send-button {
        padding: 1vw;
        background: none;
        color: rgb(0, 0, 0);
        border-radius: 0.5vw;
        transition: background 1s;
    }

    .chat-messages {
        width: 90%;
        height: 60vh;
    }

    .chat-block-container {
        width: 100%;
        height: 40vh;
        position: static;
    }

    .send-button svg {
        width: 2vw;
        height: 2vw;
    }
}

@media (max-width: 768px) {
    body {
        border: none;
        border-radius: 0;
        box-shadow: none;
        height: 100vh;
        overflow-y: auto;
    }

    .block-container {
        flex-direction: column;
        align-items: center;
    }

    .block {
        width: 90vw;
        padding: 3vw;
        margin: 1.5vw 0;
    }

    .modal-content {
        width: 90vw;
    }

    .support, .blog {
        font-size: 1.5vw;
    }

    .background-text span {
        font-size: 3vw;
    }

    .version {
        font-size: 3vw;
    }

    .grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .horizontal {
        grid-column: span 5;
    }

    .vertical {
        grid-row: span 5;
    }

    button {
        padding: 3vw;
        font-size: 3vw;
    }

    .sreda-button {
        font-size: 12vw;
    }

    .block img {
        width: 20vw;
        height: 20vw;
    }

    .chat-input-container {
        flex-direction: column;
        width: 90%;
    }

    #chat-input {
        width: 100%;
        padding: 2vw;
        font-size: 3vw;
    }

    .send-button {
        width: 100%;
        padding: 2vw;
        font-size: 3vw;
    }

    .chat-messages {
        width: 90%;
        height: 60vh;
    }

    .chat-block-container {
        width: 100%;
        height: 40vh;
        position: static;
    }
}

.chat-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2vw;
    position: absolute;
    bottom: 5vh;
}

#chat-input {
    width: 40vw;
    padding: 0.5vw;
    border: 0.1vw solid #000000;
    border-radius: 0.3vw;
    margin-right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #00ffff;
    font-size: 1.5vw;
    text-shadow: none;
}

.send-button {
    padding: 0.3vw;
    background: none;
    color: rgb(0, 0, 0);
    border-radius: 0.5vw;
    transition: background 1s;
}

.send-button:hover {
    width: 0.5vw;
    padding: 0.5vw;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 2vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    padding: 2vw;
    color: #00ffff;
    text-shadow: none;
    font-size: 1.5vw;
    width: 90%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.chat-message {
    margin: 1vw 0;
    padding: 1vw;
    border-radius: 0.5vw;
    max-width: 40vw;
    word-wrap: break-word;
    color: black;
    font-size: 1.5vw;
}

.chat-message.user {
    background: rgb(68, 193, 231);
    align-self: flex-start;
    font-family: 'Arial', sans-serif;
}

.chat-message.assistant {
    background: rgba(233, 97, 149, 0.973);
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
}

.special-design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.star {
    position: absolute;
    width: 2vw;
    height: 2vw;
    background: white;
    border-radius: 50%;
    animation: starAnimation 5s infinite alternate;
}

@keyframes starAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.block-toggle {
    position: absolute;
    top: 0.5vh;
    left: 50%;
    font-size: 1.5vw;
    transform: translateX(-50%);
    width: 19vw;
    color: #00ffff;
    height: 5vh;
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
    border-radius: 1vw;
    box-shadow: inset 0 0 0.5vw #FFFFFF;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.block-toggle:hover {
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
}

.block-toggle:active {
    background: linear-gradient(135deg, #87CEEB, #4682B4, #00008B, #FFFF00, #FFA500);
}

.block-container.hidden {
    display: none;
}

.chat-block-container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    padding: 2vw;
    overflow-y: auto;
    z-index: 1;
}

.chat-block-container .block {
    width: 50%;
    margin: 4vw 0;
}

.block.strikethrough {
    position: relative;
}

.block.strikethrough::before,
.block.strikethrough::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: red;
    transform: rotate(-2deg);
}

.block.strikethrough::after {
    transform: rotate(2deg);
}
